@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #534b4b; /* dark bg if desired */
  color: #e5e7eb;            /* light text */
  font-family: system-ui, sans-serif;
}
